# Objective

    We are presently poring over the map with meticulous care, endeavouring to verify 
    that every entry is both accurate and wholly unique—no small task, yet an essential one.

In [24]:
import pandas as pd
Map = pd.read_csv('Locality_mapping.csv' ) # read the dataframe
Map

,Unnamed: 0,District,City,Country,Continent,locality
0,0,Suffolk,Boston,United States of America,North America,Boston...
1,1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,2,Gelderland,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,3,Hampshire,NaN,United Kingdom of Great Britain and Northern I...,Europe,New Forest National...
4,4,NaN,Chicago,United States of America,North America,"Chicago, Illinois"
...,...,...,...,...,...,...
262,262,NaN,Skopje,North Macedonia,Europe,"Skopje, Republic of..."
263,263,Alameda County,Fremont,United States of America,North America,"Fremont, California"
264,264,Agra,Agra,India,Asia,"Agra, India"
265,265,Maui County,Kihei,United States,North America,"Kihei, Hawaii"
266,266,Kingston upon Thames,Surbiton,United Kingdom of Great Britain and Northern I...,Europe,"Surbiton, United..."

In [30]:
Map['City'][202] = "Hong Kong"
Map['Continent'][236] = "Europe"

/tmp/ipykernel_7990/3719498998.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Map['Continent'][236] = "Europe"
/tmp/ipykernel_7990/3719498998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Map['Continent'][236] = "Europe"

In [31]:
Map.drop_duplicates(subset=['Country'])

,Unnamed: 0,District,City,Country,Continent,locality
0,0,Suffolk,Boston,United States,North America,Boston...
1,1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,2,Gelderland,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,3,Hampshire,NaN,United Kingdom,Europe,New Forest National...
5,5,NaN,NaN,Canada,North America,Canada
7,7,NaN,NaN,Singapore,Asia,"Singapore, Singapore"
8,8,NaN,Tokyo,Japan,Asia,"Tokyo, Japan"
9,9,NaN,Paris,France,Europe,"Paris, France"
10,10,Sectors of Bucharest,Bucharest,Romania,Europe,"Bucharest, Romania"
16,16,City of Sydney,Sydney,Australia,Oceania,"Sydney, Australia"
17,17,NaN,NaN,New Zealand,Oceania,New Zealand
33,33,County Dublin,Dublin,Ireland,Europe,"Dublin, California"
37,37,Hua Hin,NaN,Thailand,Asia,"Hua Hin, Thailand"
38,38,Region F,Johannesburg,South Africa,Africa,"Johannesburg, South..."
41,41,16 City Districts,Manila,Philippines,Asia,"Manila, Philippines"
45,45,NaN,Seville,Spain,Europe,"Seville, Spain"
49,49,NaN,Dubai,United Arab Emirates,Asia,Business Bay...
51,51,Bengaluru Urban,Bengaluru,India,Asia,"Bengaluru, India"
61,61,Tel Aviv,Tel Aviv-Yafo,Israel,Asia,"Tel Aviv, Israel"
69,69,Central Jakarta,Jakarta,Indonesia,Asia,"Jakarta, Indonesia"
72,72,Zamalek,Cairo,Egypt,Africa,"Cairo, Egypt"
75,75,NaN,NaN,Greece,Europe,Greece
77,77,NaN,NaN,Malaysia,Asia,Malaysia
79,79,NaN,Milano Marittima,Italy,Europe,Milano Marittima...
90,90,Kiruna Municipality,Kiruna,Sweden,Europe,"Kiruna, Sweden"
93,93,NaN,Vienna,Austria,Europe,"Vienna, Austria"
115,115,Metro Manila region,Makati City,Philippines,Asia,makati
117,117,NaN,NaN,Georgia,Europe,Georgia
120,120,NaN,Antalya,Turkey,Asia,"Antalya, Turkiye"
123,123,Buda,Budapest,Hungary,Europe,"Budapest, Hungary"
130,130,Recoleta,Buenos Aires,Argentina,South America,Buenos Aires...
135,135,NaN,Hamburg,Germany,Europe,"Hamburg, Germany"
145,145,NaN,Jeddah,Saudi Arabia,Asia,"Jeddah, Saudi Arabia"
146,146,Capital Governorate,Kuwait City,Kuwait,Asia,"Kuwait City, Kuwait"
194,194,Hoàn Kiếm,Hanoi,Viet Nam,Asia,"Hanoi, Vietnam"
202,202,Central and Western District,Hong Kong,People's Republic of China,Asia,Hong Kong
213,213,NaN,Helsinki,Finland,Europe,"Helsinki, Finland"
217,217,NaN,Volgograd,Russian Federation,Europe,"Volgograd, Russia"
218,218,NaN,NaN,Unknown,Europe,Europe
225,225,NaN,NaN,Malta,Europe,"Malta, Europe"
232,232,Osijek-Baranja County,Čepin,Croatia,Europe,"Cepin, Croatia"
261,261,NaN,Ittoqqortoormiit,Denmark,North America,Ittoqqortoormiit...
262,262,NaN,Skopje,North Macedonia,Europe,"Skopje, Republic of..."

    We have observed that certain entities appear under multiple guises within the dataset—most notably,
    “United States of America” alongside the abbreviated “United States”, and “United Kingdom of Great 
    Britain and Northern Ireland” juxtaposed with the more concise “United Kingdom”. Such heterogeneity 
    is, frankly, rather untidy. Accordingly, we must now undertake a thorough cleansing of the dataset 
    to enforce rigorous consistency and homogeneity across all such entries.

In [32]:
Map['Country'] = Map['Country'].replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom')
Map['Country'] = Map['Country'].replace('England', 'United Kingdom')
Map['Country'] = Map['Country'].replace('United States of America', 'United States')
Map['Country'] = Map['Country'].replace('People’s Republic of China', 'China')
Map['Continent'] = Map['Continent'].replace('Australia', 'Oceania')

In [36]:
Map.drop_duplicates(subset=['Country']).reset_index(drop=True)

,Unnamed: 0,District,City,Country,Continent,locality
0,0,Suffolk,Boston,United States,North America,Boston...
1,1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,2,Gelderland,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,3,Hampshire,NaN,United Kingdom,Europe,New Forest National...
4,5,NaN,NaN,Canada,North America,Canada
5,7,NaN,NaN,Singapore,Asia,"Singapore, Singapore"
6,8,NaN,Tokyo,Japan,Asia,"Tokyo, Japan"
7,9,NaN,Paris,France,Europe,"Paris, France"
8,10,Sectors of Bucharest,Bucharest,Romania,Europe,"Bucharest, Romania"
9,16,City of Sydney,Sydney,Australia,Oceania,"Sydney, Australia"
10,17,NaN,NaN,New Zealand,Oceania,New Zealand
11,33,County Dublin,Dublin,Ireland,Europe,"Dublin, California"
12,37,Hua Hin,NaN,Thailand,Asia,"Hua Hin, Thailand"
13,38,Region F,Johannesburg,South Africa,Africa,"Johannesburg, South..."
14,41,16 City Districts,Manila,Philippines,Asia,"Manila, Philippines"
15,45,NaN,Seville,Spain,Europe,"Seville, Spain"
16,49,NaN,Dubai,United Arab Emirates,Asia,Business Bay...
17,51,Bengaluru Urban,Bengaluru,India,Asia,"Bengaluru, India"
18,61,Tel Aviv,Tel Aviv-Yafo,Israel,Asia,"Tel Aviv, Israel"
19,69,Central Jakarta,Jakarta,Indonesia,Asia,"Jakarta, Indonesia"
20,72,Zamalek,Cairo,Egypt,Africa,"Cairo, Egypt"
21,75,NaN,NaN,Greece,Europe,Greece
22,77,NaN,NaN,Malaysia,Asia,Malaysia
23,79,NaN,Milano Marittima,Italy,Europe,Milano Marittima...
24,90,Kiruna Municipality,Kiruna,Sweden,Europe,"Kiruna, Sweden"
25,93,NaN,Vienna,Austria,Europe,"Vienna, Austria"
26,115,Metro Manila region,Makati City,Philippines,Asia,makati
27,117,NaN,NaN,Georgia,Europe,Georgia
28,120,NaN,Antalya,Turkey,Asia,"Antalya, Turkiye"
29,123,Buda,Budapest,Hungary,Europe,"Budapest, Hungary"
30,130,Recoleta,Buenos Aires,Argentina,South America,Buenos Aires...
31,135,NaN,Hamburg,Germany,Europe,"Hamburg, Germany"
32,145,NaN,Jeddah,Saudi Arabia,Asia,"Jeddah, Saudi Arabia"
33,146,Capital Governorate,Kuwait City,Kuwait,Asia,"Kuwait City, Kuwait"
34,194,Hoàn Kiếm,Hanoi,Viet Nam,Asia,"Hanoi, Vietnam"
35,202,Central and Western District,Hong Kong,People's Republic of China,Asia,Hong Kong
36,213,NaN,Helsinki,Finland,Europe,"Helsinki, Finland"
37,217,NaN,Volgograd,Russian Federation,Europe,"Volgograd, Russia"
38,218,NaN,NaN,Unknown,Europe,Europe
39,225,NaN,NaN,Malta,Europe,"Malta, Europe"
40,232,Osijek-Baranja County,Čepin,Croatia,Europe,"Cepin, Croatia"
41,261,NaN,Ittoqqortoormiit,Denmark,North America,Ittoqqortoormiit...
42,262,NaN,Skopje,North Macedonia,Europe,"Skopje, Republic of..."

In [37]:
Map.drop_duplicates(subset=['Continent']).reset_index(drop=True)

,Unnamed: 0,District,City,Country,Continent,locality
0,0,Suffolk,Boston,United States,North America,Boston...
1,1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,2,Gelderland,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,16,City of Sydney,Sydney,Australia,Oceania,"Sydney, Australia"
4,38,Region F,Johannesburg,South Africa,Africa,"Johannesburg, South..."
5,130,Recoleta,Buenos Aires,Argentina,South America,Buenos Aires...

    Now, having removed the duplicates, we can be confident that we no longer have alternative 
    spellings or variant names for the same country or continent.

In [38]:
Map.to_csv('Locality_mapping_2025-11-21.csv')