# Objective

    We are presently poring over the map with meticulous care, endeavouring to verify 
    that every entry is both accurate and wholly unique—no small task, yet an essential one.

In [27]:
import pandas as pd
Map = pd.read_csv('Locality_mapping.csv') # read the dataframe
Map

,District,City,Country,Continent,locality
0,Suffolk County,Boston,United States of America,North America,Boston...
1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,Apeldoorn,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,Hampshire,NaN,United Kingdom of Great Britain and Northern I...,Europe,New Forest National...
4,Cook County,Chicago,United States of America,North America,"Chicago, Illinois"
...,...,...,...,...,...
262,NaN,Skopje,North Macedonia,Europe,"Skopje, Republic of..."
263,Alameda County,Fremont,United States of America,North America,"Fremont, California"
264,Agra,Agra,India,Asia,"Agra, India"
265,Maui County,NaN,United States of America,North America,"Kihei, Hawaii"
266,Royal Borough of Kingston upon Thames,London,United Kingdom of Great Britain and Northern I...,Europe,"Surbiton, United..."

In [28]:
Map['Country'][154] = "Malaysia"

/tmp/ipykernel_32705/3622963244.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Map['Country'][154] = "Malaysia"

In [23]:
Map

,District,City,Country,Continent,locality
0,Suffolk County,Boston,United States of America,North America,Boston...
1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,Apeldoorn,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,Hampshire,NaN,United Kingdom of Great Britain and Northern I...,Europe,New Forest National...
4,Cook County,Chicago,United States of America,North America,"Chicago, Illinois"
...,...,...,...,...,...
262,NaN,Skopje,North Macedonia,Europe,"Skopje, Republic of..."
263,Alameda County,Fremont,United States of America,North America,"Fremont, California"
264,Agra,Agra,India,Asia,"Agra, India"
265,Maui County,NaN,United States of America,North America,"Kihei, Hawaii"
266,Royal Borough of Kingston upon Thames,London,United Kingdom of Great Britain and Northern I...,Europe,"Surbiton, United..."

    We have observed that certain entities appear under multiple guises within the dataset—most notably,
    “United States of America” alongside the abbreviated “United States”, and “United Kingdom of Great 
    Britain and Northern Ireland” juxtaposed with the more concise “United Kingdom”. Such heterogeneity 
    is, frankly, rather untidy. Accordingly, we must now undertake a thorough cleansing of the dataset 
    to enforce rigorous consistency and homogeneity across all such entries.

In [24]:
Map.drop_duplicates(subset=['Country'])

,District,City,Country,Continent,locality
0,Suffolk County,Boston,United States of America,North America,Boston...
1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,Apeldoorn,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,Hampshire,NaN,United Kingdom of Great Britain and Northern I...,Europe,New Forest National...
5,NaN,NaN,Canada,North America,Canada
7,NaN,NaN,Singapore,Asia,"Singapore, Singapore"
8,Unknown,Tokyo,Japan,Asia,"Tokyo, Japan"
9,Unknown,Paris,France,Europe,"Paris, France"
10,Unknown,Bucharest,Romania,Europe,"Bucharest, Romania"
16,City of Sydney,Sydney,Australia,Australia,"Sydney, Australia"
17,NaN,NaN,New Zealand,Australia,New Zealand
37,Hua Hin District,Hua Hin,Thailand,Asia,"Hua Hin, Thailand"
38,NaN,Johannesburg,South Africa,Africa,"Johannesburg, South..."
41,NaN,Manila,Philippines,Asia,"Manila, Philippines"
45,NaN,Seville,Spain,Europe,"Seville, Spain"
49,Business Bay,Dubai,United Arab Emirates,Asia,Business Bay...
51,Bengaluru Urban,Bengaluru,India,Asia,"Bengaluru, India"
61,Tel Aviv,Tel Aviv-Yafo,Israel,Asia,"Tel Aviv, Israel"
69,NaN,Jakarta,Indonesia,Asia,"Jakarta, Indonesia"
72,Unknown,Cairo,Egypt,Africa,"Cairo, Egypt"
73,NaN,Kuala Lumpur,Malaysia,Asia,Kuala Lumpur...
75,NaN,NaN,Greece,Europe,Greece
79,Cervia,Milano Marittima,Italy,Europe,Milano Marittima...
90,Kiruna Municipality,Kiruna,Sweden,Europe,"Kiruna, Sweden"
93,Unknown,Vienna,Austria,Europe,"Vienna, Austria"
117,NaN,NaN,Georgia,Europe,Georgia
120,Antalya,Antalya,Türkiye,Asia,"Antalya, Turkiye"
123,NaN,Budapest,Hungary,Europe,"Budapest, Hungary"
126,County Dublin,Dublin,Ireland,Europe,"Dublin, Ireland"
130,NaN,Buenos Aires,Argentina,South America,Buenos Aires...
135,NaN,Hamburg,Germany,Europe,"Hamburg, Germany"
145,NaN,Jeddah,Saudi Arabia,Asia,"Jeddah, Saudi Arabia"
146,Capital Governorate,Kuwait City,Kuwait,Asia,"Kuwait City, Kuwait"
194,NaN,Hanoi,Viet Nam,Asia,"Hanoi, Vietnam"
213,NaN,Helsinki,Finland,Europe,"Helsinki, Finland"
217,NaN,Volgograd,Russian Federation,Europe,"Volgograd, Russia"
218,NaN,NaN,Unknown,Europe,Europe
225,NaN,NaN,Malta,Europe,"Malta, Europe"
232,Osijek-Baranja County,Čepin,Croatia,Europe,"Cepin, Croatia"
261,Sermersooq,Ittoqqortoormiit,Denmark,North America,Ittoqqortoormiit...
262,NaN,Skopje,North Macedonia,Europe,"Skopje, Republic of..."

In [32]:
Map['Country'] = Map['Country'].replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom')
Map['Country'] = Map['Country'].replace('England', 'United Kingdom')
Map['Country'] = Map['Country'].replace('United States of America', 'United States')
Map['Country'] = Map['Country'].replace('People’s Republic of China', 'China')
Map['Continent'] = Map['Continent'].replace('Australia', 'Oceania')

In [36]:
Map.drop_duplicates(subset=['Country']).reset_index(drop=True)

,Unnamed: 0,District,City,Country,Continent,locality
0,0,Suffolk,Boston,United States,North America,Boston...
1,1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,2,Gelderland,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,3,Hampshire,NaN,United Kingdom,Europe,New Forest National...
4,5,NaN,NaN,Canada,North America,Canada
5,7,NaN,NaN,Singapore,Asia,"Singapore, Singapore"
6,8,NaN,Tokyo,Japan,Asia,"Tokyo, Japan"
7,9,NaN,Paris,France,Europe,"Paris, France"
8,10,Sectors of Bucharest,Bucharest,Romania,Europe,"Bucharest, Romania"
9,16,City of Sydney,Sydney,Australia,Oceania,"Sydney, Australia"
10,17,NaN,NaN,New Zealand,Oceania,New Zealand
11,33,County Dublin,Dublin,Ireland,Europe,"Dublin, California"
12,37,Hua Hin,NaN,Thailand,Asia,"Hua Hin, Thailand"
13,38,Region F,Johannesburg,South Africa,Africa,"Johannesburg, South..."
14,41,16 City Districts,Manila,Philippines,Asia,"Manila, Philippines"
15,45,NaN,Seville,Spain,Europe,"Seville, Spain"
16,49,NaN,Dubai,United Arab Emirates,Asia,Business Bay...
17,51,Bengaluru Urban,Bengaluru,India,Asia,"Bengaluru, India"
18,61,Tel Aviv,Tel Aviv-Yafo,Israel,Asia,"Tel Aviv, Israel"
19,69,Central Jakarta,Jakarta,Indonesia,Asia,"Jakarta, Indonesia"
20,72,Zamalek,Cairo,Egypt,Africa,"Cairo, Egypt"
21,75,NaN,NaN,Greece,Europe,Greece
22,77,NaN,NaN,Malaysia,Asia,Malaysia
23,79,NaN,Milano Marittima,Italy,Europe,Milano Marittima...
24,90,Kiruna Municipality,Kiruna,Sweden,Europe,"Kiruna, Sweden"
25,93,NaN,Vienna,Austria,Europe,"Vienna, Austria"
26,115,Metro Manila region,Makati City,Philippines,Asia,makati
27,117,NaN,NaN,Georgia,Europe,Georgia
28,120,NaN,Antalya,Turkey,Asia,"Antalya, Turkiye"
29,123,Buda,Budapest,Hungary,Europe,"Budapest, Hungary"
30,130,Recoleta,Buenos Aires,Argentina,South America,Buenos Aires...
31,135,NaN,Hamburg,Germany,Europe,"Hamburg, Germany"
32,145,NaN,Jeddah,Saudi Arabia,Asia,"Jeddah, Saudi Arabia"
33,146,Capital Governorate,Kuwait City,Kuwait,Asia,"Kuwait City, Kuwait"
34,194,Hoàn Kiếm,Hanoi,Viet Nam,Asia,"Hanoi, Vietnam"
35,202,Central and Western District,Hong Kong,People's Republic of China,Asia,Hong Kong
36,213,NaN,Helsinki,Finland,Europe,"Helsinki, Finland"
37,217,NaN,Volgograd,Russian Federation,Europe,"Volgograd, Russia"
38,218,NaN,NaN,Unknown,Europe,Europe
39,225,NaN,NaN,Malta,Europe,"Malta, Europe"
40,232,Osijek-Baranja County,Čepin,Croatia,Europe,"Cepin, Croatia"
41,261,NaN,Ittoqqortoormiit,Denmark,North America,Ittoqqortoormiit...
42,262,NaN,Skopje,North Macedonia,Europe,"Skopje, Republic of..."

In [25]:
Map.drop_duplicates(subset=['Continent']).reset_index(drop=True)

,District,City,Country,Continent,locality
0,Suffolk County,Boston,United States of America,North America,Boston...
1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,Apeldoorn,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,City of Sydney,Sydney,Australia,Australia,"Sydney, Australia"
4,NaN,Johannesburg,South Africa,Africa,"Johannesburg, South..."
5,NaN,Buenos Aires,Argentina,South America,Buenos Aires...
6,Unknown,Unknown,Unknown,Unknown,jtang

    Now, having removed the duplicates, we can be confident that we no longer have alternative 
    spellings or variant names for the same country or continent.

In [30]:
Map.to_csv('Locality_mapping_2025-12-20.csv', index=False)