In [29]:
import pandas as pd
Map = pd.read_csv('Locality_mapping_2025-12-20.csv') # read the dataframe
TA = pd.read_csv('TAPosts_2023.csv')

In [30]:
TA

,Chain ID Counter,Post in Chain Counter,chainid,id,locality,longname,postdate,postings,subject,usertext
0,1,1,13263599,105939910,Boston...,TA_Colleen,4 years ago,176,Coronavirus (Covid-19) Information in Hong Kong,"Hello Travelers, Tripadvisor has created this ..."
1,1,2,13263599,105946408,"Hong Kong, China",Brad,4 years ago,"32,882",1. Re: Coronavirus (Covid-19) Information in H...,Online English news outlets which regularly re...
2,1,3,13263599,105946471,"Hong Kong, China",Brad,4 years ago,"32,882",2. Re: Coronavirus (Covid-19) Information in H...,Discover Hong Kong - Advisory - Providing link...
3,1,4,13263599,105946513,"Hong Kong, China",Brad,4 years ago,"32,882",3. Re: Coronavirus (Covid-19) Information in H...,Hong Kong Gov - Covid19 Resource Website https...
4,1,5,13263599,105947215,"Apeldoorn, The...",wvmarle,4 years ago,"13,665",4. Re: Coronavirus (Covid-19) Information in H...,Hong Kong is currently working towards normali...
...,...,...,...,...,...,...,...,...,...,...
5214,711,9,14620570,119601299,NaN,Neeraj L,1 year ago,11,8. Re: Victoria Peak - Timing for New Year's Eve,Related question - what would be a good time t...
5215,711,10,14620570,119601438,NaN,Neeraj L,1 year ago,11,10. Re: Victoria Peak - Timing for New Year's Eve,Thank you. You've been very helpful.
5216,711,11,14620570,119602937,"Apeldoorn, The...",wvmarle,1 year ago,"13,665",11. Re: Victoria Peak - Timing for New Year's Eve,>>> after the first minute or two you'll just ...
5217,712,1,14621094,119601952,"Singapore, Singapore",swee18,1 year ago,138,Which area to stay,"Hello everyone, I intend to visit hongkong in ..."
5218,712,2,14621094,119602952,"Apeldoorn, The...",wvmarle,1 year ago,"13,665",1. Re: Which area to stay,"For markets that are open late in the evening,..."

In [31]:
# Extract column 'B' into a new DataFrame df_B
locality = TA[['locality']].copy()
TA.drop
locality

                  locality
0                Boston...
1         Hong Kong, China
2         Hong Kong, China
3         Hong Kong, China
4        Apeldoorn, The...
...                    ...
5214                   NaN
5215                   NaN
5216     Apeldoorn, The...
5217  Singapore, Singapore
5218     Apeldoorn, The...

[5219 rows x 1 columns]

In [32]:
Map

,District,City,Country,Continent,locality
0,Suffolk County,Boston,United States of America,North America,Boston...
1,NaN,Hong Kong,China,Asia,"Hong Kong, China"
2,Apeldoorn,Apeldoorn,Netherlands,Europe,"Apeldoorn, The..."
3,Hampshire,NaN,United Kingdom of Great Britain and Northern I...,Europe,New Forest National...
4,Cook County,Chicago,United States of America,North America,"Chicago, Illinois"
...,...,...,...,...,...
262,NaN,Skopje,North Macedonia,Europe,"Skopje, Republic of..."
263,Alameda County,Fremont,United States of America,North America,"Fremont, California"
264,Agra,Agra,India,Asia,"Agra, India"
265,Maui County,NaN,United States of America,North America,"Kihei, Hawaii"
266,Royal Borough of Kingston upon Thames,London,United Kingdom of Great Britain and Northern I...,Europe,"Surbiton, United..."

In [33]:
merged_df = pd.merge(locality, Map, on='locality',how='left')
merged_df

,locality,District,City,Country,Continent
0,Boston...,Suffolk County,Boston,United States of America,North America
1,"Hong Kong, China",NaN,Hong Kong,China,Asia
2,"Hong Kong, China",NaN,Hong Kong,China,Asia
3,"Hong Kong, China",NaN,Hong Kong,China,Asia
4,"Apeldoorn, The...",Apeldoorn,Apeldoorn,Netherlands,Europe
...,...,...,...,...,...
5214,NaN,NaN,NaN,NaN,NaN
5215,NaN,NaN,NaN,NaN,NaN
5216,"Apeldoorn, The...",Apeldoorn,Apeldoorn,Netherlands,Europe
5217,"Singapore, Singapore",NaN,NaN,Singapore,Asia
5218,"Apeldoorn, The...",Apeldoorn,Apeldoorn,Netherlands,Europe

In [35]:
# Define the insertion point (index 1)
insert_loc = 4

# Split df1 into two parts
df1_part1 = TA.iloc[:, :insert_loc]  # Columns from start to loc-1
df1_part2 = TA.iloc[:, insert_loc:]  # Columns from loc to end

# Concatenate the parts in the desired order
# Axis=1 ensures column-wise concatenation
df_final = pd.concat([df1_part1, merged_df, df1_part2], axis=1)

print(df_final)

      Chain ID Counter  Post in Chain Counter   chainid         id  \
0                    1                      1  13263599  105939910
1                    1                      2  13263599  105946408
2                    1                      3  13263599  105946471
3                    1                      4  13263599  105946513
4                    1                      5  13263599  105947215
...                ...                    ...       ...        ...
5214               711                      9  14620570  119601299
5215               711                     10  14620570  119601438
5216               711                     11  14620570  119602937
5217               712                      1  14621094  119601952
5218               712                      2  14621094  119602952

                  locality        District       City  \
0                Boston...  Suffolk County     Boston
1         Hong Kong, China             NaN  Hong Kong
2         Hong Kong, China             NaN  Hong Kong
3         Hong Kong, China             NaN  Hong Kong
4        Apeldoorn, The...       Apeldoorn  Apeldoorn
...                    ...             ...        ...
5214                   NaN             NaN        NaN
5215                   NaN             NaN        NaN
5216     Apeldoorn, The...       Apeldoorn  Apeldoorn
5217  Singapore, Singapore             NaN        NaN
5218     Apeldoorn, The...       Apeldoorn  Apeldoorn

                       Country      Continent              locality  \
0     United States of America  North America             Boston...
1                        China           Asia      Hong Kong, China
2                        China           Asia      Hong Kong, China
3                        China           Asia      Hong Kong, China
4                  Netherlands         Europe     Apeldoorn, The...
...                        ...            ...                   ...
5214                       NaN            NaN                   NaN
5215                       NaN            NaN                   NaN
5216               Netherlands         Europe     Apeldoorn, The...
5217                 Singapore           Asia  Singapore, Singapore
5218               Netherlands         Europe     Apeldoorn, The...

        longname     postdate postings  \
0     TA_Colleen  4 years ago      176
1           Brad  4 years ago   32,882
2           Brad  4 years ago   32,882
3           Brad  4 years ago   32,882
4        wvmarle  4 years ago   13,665
...          ...          ...      ...
5214    Neeraj L   1 year ago       11
5215    Neeraj L   1 year ago       11
5216     wvmarle   1 year ago   13,665
5217      swee18   1 year ago      138
5218     wvmarle   1 year ago   13,665

                                                subject  \
0       Coronavirus (Covid-19) Information in Hong Kong
1     1. Re: Coronavirus (Covid-19) Information in H...
2     2. Re: Coronavirus (Covid-19) Information in H...
3     3. Re: Coronavirus (Covid-19) Information in H...
4     4. Re: Coronavirus (Covid-19) Information in H...
...                                                 ...
5214   8. Re: Victoria Peak - Timing for New Year's Eve
5215  10. Re: Victoria Peak - Timing for New Year's Eve
5216  11. Re: Victoria Peak - Timing for New Year's Eve
5217                                 Which area to stay
5218                          1. Re: Which area to stay

                                               usertext
0     Hello Travelers, Tripadvisor has created this ...
1     Online English news outlets which regularly re...
2     Discover Hong Kong - Advisory - Providing link...
3     Hong Kong Gov - Covid19 Resource Website https...
4     Hong Kong is currently working towards normali...
...                                                 ...
5214  Related question - what would be a good time t...
5215               Thank you. You've been very helpful.
5216  >>> after the first minute or two you'll just ...
5217  Hello everyone, I intend to visit hongkong in ...
5218  For markets that are open late in the evening,...

[5219 rows x 15 columns]

In [36]:
df_final.to_csv('TA2023_Location.csv', index=False)